<!DOCTYPE html>
<html>
<head>
	<title>Total Cost</title>
</head>
<body>
	<h1>Total Cost</h1>
	<p>You have selected "<%= postage %>" for a package that weighs <%= weight.toPrecision(2) %>oz.</p>
	<p>Total Cost: $<%= result %></p>
</body>
</html>
